<h1>All Category</h1>

<ul class="categories">
	<ol>
  <% @categories.each do |category| %>
 
    <li>
      <%= link_to category.name, category %>
    </li>
  <% end %>
  </ol>
  <br>
  <%= link_to "New Category", new_category_path %>
</ul>