<table class="table table-hover table-bordered" align="center" style="width: 50%;">
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% @test.detail_tests.each do |dt| %>
      <tr>
        <td><%= dt.question.content%></td>
        <td><%= dt.answer.content %></td>
        <td>
          <% if dt.answer.is_correct %>
            True
          <% else %>
            False
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
