<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="header">
        <p>
          <% if @test.user_id != nil %>
            <b>User: </b><%= User.find_by(id: @test.user_id).name %>
          <% else %>
            <b>Guest</b>
          <% end %>
        </p>
        <p><b>Score: </b><%= @test.result %></p>
      </div>
      <div class="content table-full-width">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Question</th>
              <th>Answer</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <% @test.detail_tests.each do |dt| %>
              <tr>
                <td><%= dt.question.content%></td>
                <td><%= dt.answer ? dt.answer.content : "NO ANSWER!"%></td>
                <td>
                  <% if dt.answer %>
                    <% if dt.answer.is_correct %>
                      <i class="fas fa-check-circle text-success"></i>
                    <% else %>
                      <i class="fas fa-times-circle text-danger"></i>
                    <% end %>
                  <% else %>
                    <i class="fas fa-skull-crossbones text-warning"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
